#don't commit your .env file as it stores your development environment variables.

.env
# ignore the virtual environment.
venv/
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Django specific

*.log
*.sqlite3
media/
staticfiles/

# Ignore compiled Python inside migrations only
**/migrations/__pycache__/

# Ignore local settings if you use them for secrets
local_settings.py


# IDE / Editor

.vscode/
.idea/
*.sublime-workspace
*.sublime-project


# OS

.DS_Store
Thumbs.db


# Jupyter / Data files

.ipynb_checkpoints/
*.csv
*.xlsx
*.h5
*.hdf5-e "venv/\nstaticfiles/\n__pycache__/\n*.py[cod]" 

# allow specific CSVs
!orgs/data/zip_to_county.csv
!orgs/data/state_parks.csv
!orgs/data/recreation_area.csv
!orgs/data/state_forest.csv
!orgs/data/upload_template.csv