{% load static %}


<div class="me-card">
<div class="form-check form-check-inline" style="background-color:#d6e076;")>
 <input class="form-check-input"
       type="checkbox"
       name="skip_session"
       value="{{ session.id }}"
       id="skip_session_{{ session.id }}"
       {% if session.processing_status == "skip" %}checked{% endif %}>

<label class="form-check-label"
       for="skip_session_{{ session.id }}">
    Remove
</label>

</div>
 <!-- Right block: simple inline icons -->

  <!-- Header row -->
  <div class="me-card-header">
    <!-- Left block -->
    <div class="me-card-header-left">        
      <div class="me-card-title-row">
         
        {% if e.activity.activity_type == "t" %}
      <i class="bi bi-mortarboard-fill me-learn-icon" title="Training"></i>
    {% else %}
      <i class="bi bi-tree-fill me-tree-icon" title="Volunteer Opportunity"></i>
    {% endif %}  
    
       
          {{ e.activity.title }}
        
      </div>
        <div class="me-card-date">
    {% if e.ongoing %}<strong>Ongoing</strong>
    {% elif e.start %}{{ e.start }}{% endif %}

    {% if e.end and e.start != e.end %} - {{ e.end }}{% endif %}
    {% if e.activity.date_description %}<br><em>{{ e.activity.date_description }}</em>{% endif %}
    {% if e.activity.time_description %}| <em>{{ e.activity.time_description }}</em>{% endif %}

    
    {%if  e.activity.has_cost %}   
      | <i class="bi bi-currency-dollar" data-bs-toggle="tooltip" title="Training has a cost for participants"></i>
    {% endif %}

  </div>

    </div>
   <div class="me-card-header-right"> 
    <div class="me-icons">
      {% if e.location.region_name %}
      <img src="{% static 'region_maps/' %}{{ e.location.region.map_filename }}"" alt="{{e.location.region.name}}"  title="{{ e.location.region.name }}" 
      style="height:75px; width:auto;">
    {% endif %}
   

    </div></div>
  </div> <!-- header -->
  <!-- Date line -->

  <!-- Description -->
  <div class="me-description-block expanded">
   
    <div class="me-desc-full">
      {{ e.activity.description}}
    </div>
    
  </div>
  <!-- Badges -->
  <div class="me-stack">
    {% for cat in e.activity.categories.all %}
      <span class="me-badge">{{ cat.name }}</span>
    {% endfor %}
  </div>
  <div class="me-card-sponsor">
    Sponsored by: {{ e.activity.org.org_name }}

    <p>Location: 
      {% if e.location %}
      {{ e.location.loc_name }} ({{e.location.real_location.org.org_name}}) {% if e.location.processing_status == "create" %} 
        (will be added by load)
       {% endif %} 
       {% endif %}
    
             {% if e.session_url %}
           <br> {{ e.session_url }}
            
      {% elif e.activity.activity_url %}
          <br> {{ e.activity.activity_url }}
      {% elif e.activity.contact_email%}
          <br>   {{ e.activity.contact_email }}
          
        {% endif %} 
    </p>
   
    </div> 

    <div class="me-card-sponsor">  

    


    
  </div>
</div>