{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}    
    </ul>
{% endif %} 
<h2>Upload Data</h2>
<div class="me-card">
    <div class="me-card-split">
        <div class="me-card-split-left">
            <p>First time here? You can download a template to build your upload csv file.</p>
            <a href="{% static 'template.csv' %}"
            class="btn me-btn">
            <span><i class="bi bi-download me-btn-icon"></i></span>
            <span class="me-btn-label">Template</span>
            </a>
            <a href="{% url 'upload_faq' %}"
                    class="btn me-btn">
                    <span><i class="bi bi-info me-btn-icon"></i></span>
                    <span class="me-btn-label">Detailed Instructions</span></a>
            <hr>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div>    
                <label for="file">Choose CSV file:</label><br>
                {{ form.file }}
            </div>
            <br>
            <button type="submit" class="me-btn">
                <span><i class="bi bi-upload me-btn-icon"></i></span>
                <span class="me-btn-label">Upload</span></button>
            </form>
        </div>
        <div class="me-card-split-right">
            <h4>Upload Process</h4>
            <ol>
                <li>Select your CSV file</li>
                <li>Data will pass through an initial validation stage - you might see warnings when data is missing, but the activity can still load. Or errors when the data cannot be loaded as is.</li>
                <li>You will a location confirmation - to make sure we selected the correct location for your activity - or maybe you need to create a new location.</li>
                <li>You will then see a preview of your activities. You still have a chance to Remove it from the load</li>
                <li>Once you confirm the load the activties will be available to users in WildPaths.</li>
                <li>If you find an issue with the load, you will have an option to ROLL it BACK and remove them wholesale from the system.</li>
            </ul>
        </div>
    </div>

{% if errors %}
<div  id="upload-errors" class="alert alert-danger">
    <h5>Upload Error</h5>
    <ul class="mb-0">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</div>

{% endblock %}

{% block extrajs %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    const fileInput = document.querySelector('input[type="file"]');
    const errorBox = document.getElementById("upload-errors");
    console.log("File input:", fileInput);
    console.log("Error box:", errorBox);
    if (fileInput && errorBox) {
        fileInput.addEventListener("change", function () {
            errorBox.style.display = "none";
        });
    }
});
</script>
{% endblock %}