{%extends "orgs/layout.html"%}

{% block body %}
<h2>Map Columns</h2>
{% if errors %}
    <div class="alert alert-danger">
        <h5>Errors</h5>
        <ul class="mb-0">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <table>
        <th><td>My Column Names</td>
        <td>WildPath Table names</td></th>
            {% for col, options in dropdown_options.items %}
            <tr> <td>{{ col }}</td>
            <td>
                <select name="mapping_{{ col }}">
                    {% for field in options.choices %}
                        <option value="{{ field }}" {% if field == options.preselected %}selected{% endif %}>{{ field }}</option>
                    {% endfor %}
                </select>
            </td>
            </tr>
{% endfor %}
            
    </table>
    <button type="submit" class="me-btn">
        <span><i class="bi bi-floppy me-btn-icon"></i></span>
        <span class="me-btn-label">Save</span></button>
    <a href="{% url 'upload_cancel_confirm' upload.id %}?next={{ request.path }}" class="me-btn">
        <span><i class = "bi bi-backspace me-btn-icon"></i></span>
        <span class="me-btn-label">Cancel</span>
    </a>
</form>
</form>
{% endblock %}