{% extends "orgs/layout.html" %}
{% block body %}

<h3>Delete Activity</h3>

<p>
  Are you sure you want to delete:
  <strong>{{ activity.title }}</strong>?
</p>

<form method="post">
  {% csrf_token %}
  <button class="me-btn" type="submit">
    <span>
            <i class="bi bi-trash me-btn-icon me-btn-learn-icon"></i>
    </span>
    <span class="me-btn-label">
        Yes, Delete</span> 
</button>

  <a class="me-btn" href="{% url 'org_mgmt' %}#org-{{ activity.org.id }}">
    <span>
      <i class="bi bi-backspace me-btn-icon"></i>
    </span>
    <span class="me-btn-label">Cancel</span></a>
</form>
{% endblock %}