{% load static %}
{% load highlight %}
{% load can_edit_filters %}

 <div class="me-card"  id="activity-{{ e.id }}">

    <!-- Header row -->
  <div class="me-card-header">
    <div class="me-card-header-left">
      <div class="me-card-title-row"> 
        {% if e.activity_type == "t"%}
          <i class="bi bi-mortarboard-fill me-learn-icon" data-bs-toggle="tooltip" title="Training"></i>
        {%else%} 
          <i class="bi bi-tree-fill me-tree-icon" data-bs-toggle="tooltip" title="Volunteer Opportunity"></i>
        {% endif %}             
        {% if q %}
            {{ e.title|highlight:q|safe  }}
          {% else %}
            {{ e.title }}
          {% endif %}
          {% if e|can_edit:request.user %} <a href="{% url 'activity_edit' e.id%}"><i class="bi bi-pencil-fill" data-bs-toggle="tooltip" title="Edit activity" style="font-size: .75rem;"></i></a>{% endif %} 
      </div>
     <div class="me-card-sponsor">
      {% for session in e.sessions.all %}
          <div>
            {% if session.ongoing %} <strong>Ongoing</strong> 
            {% elif session.start %}  {{ session.start|date:"m/d" }} 
            {% endif %}
            {% if session.end and session.start != session.end %}  to {{ session.end|date:"m/d" }}
            {% endif %}
            {% if session.date_description %}  | <em>{{ a.session.date_description }}</em> 
            {% endif %}
            {% if session.session_format == "s" %} | <em>Self selected locations </em> 
            {% endif %}
            {% if session.session_format == "i" or session.session_format == "b" %} 
              {% if session.location != e.org.default_location %} 
              | <a href="{% url 'locations'%}?loc={{session.location.id}}&view=list">{{ session.location}} </a>
              {% endif %}
            {% endif %}
            {% if session.session_format == "o" or session.session_format == "b" and session.session_url %} | 
               <strong>Online</strong> <a href="{{session.session_url}}">
               <i class=" bi bi-arrow-up-right-square" title="Link to actual session url"></i></a>
            {% endif %}
              
          </div>
        {% endfor %}
         {% if not e.no_cost %}   
        <i class="bi bi-currency-dollar " data-bs-toggle="tooltip" title="Training has a cost for participants"></i>
          {% endif %}
    </div>
    </div>
    <div class="me-card-header-right">
      <div class="me-icons">
          {% if e.contact_email%}
           <a class="me-button-link" href="mailto:{{ e.contact_email }}"><i class="bi bi-envelope" title="send email to contact person"></i></a>
            {% elif e.activity_url %}
           <a class="me-button-link" href="{{ e.activity_url }}" target="_blank">
            <i class="bi bi-arrow-up-right-square" title="link to website"></i></a>
            {% endif %}
     
    </div>  
  </div>
  </div>
    <!-- Description -->
  <div class="me-description-block {% if q %}expanded{% endif %}">
    <div class="me-desc-short">{{ e.description|truncatechars:200 }}</div>
    {%if q %}
    <div class="me-desc-full">{{ e.description|highlight:q|safe }}</div>
    {% else %}
    <div class="me-desc-full">{{ e.description }}</div>
    {% endif %}
  </div>
 
  <!-- Date row -->
   <div>
 
      <div class="me-stacked">{% for cat in e.categories.all %}
              <span class="me-badge">{{cat.name}}</span>
          {% endfor %}
      </div>


  </div>
 
  <div class="me-card-date">
Activity added: {{ e.created_at|date:"M j, Y" }}
    {% if e.is_newly_added %}
       <span class="badge bg-success">* New *</span>
    {% endif %}
    {% if e.updated_at > e.created_at %} | Last update: 
    {{ e.updated_at|date:"M j, Y" }}
    {% endif %}
</div>
</div>