{% load static %}
{% load highlight %}
{% load can_edit_filters %}


 <div class="me-card"  id="activity-{{ e.id }}">
    <!-- Title row -->
    <div class="me-card-header">
        <div class="me-card-header-left">
          <div class="me-card-title-row">
            <span><strong>
              {% if e.is_newly_added %}<i class="bi bi-asterisk me-new-icon" data-bs-toggle="tooltip" title="Newly added activity"></i>{% endif %}
              {% if e.activity_type == "t"%}<i class="bi bi-mortarboard-fill me-learn-icon" data-bs-toggle="tooltip" title="Training"></i>
              {%else%} <i class="bi bi-tree-fill me-tree-icon" data-bs-toggle="tooltip" title="Volunteer Opportunity"></i>{% endif %}
            </strong></span>
          
            {% if q %}{{ e.title|highlight:q|safe  }}{% else %}{{ e.title }}{% endif %}
            {% if e|can_edit:request.user %} <a href="{% url 'activity_edit' e.id%}"><i class="bi bi-pencil-fill" data-bs-toggle="tooltip" title="Edit activity"></i></a>{% endif %} 
          </div>
    </div>
    <div class="me-card-header-right">
      {% if e.contact_email %}
           | <a href="mailto:{{ e.contact_email }}"><i class="bi bi-envelope" title="send email to contact person"></i></a>
      {% endif %}
      {% if e.activity_url %}| 
          | <a href="{{ e.activity_url}}"><i class="bi bi-globe me-link-icon"></i></a>
      {% endif %}
    </div>
    </div>
    <div class="me-description-block">
      <div class = "me-desc-short">
          {{ e.description|truncatechars:200 }}
      </div>
      <div class="me-desc-full">
           {{ e.description|highlight:q|safe }}
      </div>

    </div>
      <!-- Date row -->
       <div class="me-card-date">
        {% for session in e.sessions.all %}
          <div>
             {{ session.start }}
            {% if session.end %}  | {{ session.end }}{% endif %}
            {% if session.date_description %}  | <em>{{ a.session.date_description }}</em> {% endif %}
            {% if session.location %} at {{ session.location }} {% endif %}
            {% if session.session_url %} <a href="{{session.session_url}}"><i class=" bi bi-arrow-right-square-fill"></i></a>{% endif %}
        
          </div>
        {% endfor %}
        </div>
        
        <div>

          <div class="me-stacked">{% for cat in e.categories.all %}
                    <span class="me-badge">{{cat.name}}</span>
                {% endfor %}
          </div>
        </div>
    </div> 
