{% load static %}
{% load highlight %}

 <div class="card shadow-sm mb-3 border-0">
      <!-- Date row -->
      <div class="mt-2 small text-muted">
            <strong>Starts:</strong> {{ e.date }}
            {% if e.end_date %}
                | <strong>Ends:</strong> {{ e.end_date }}
            {% endif %}
            {% if e.date_description %}
                | <em>{{ e.date_description }}</em>
            {% endif %}
      </div>
      <!-- Title row -->
      <div class="d-flex justify-content-between align-items-start">
        <h5 class="card-title mb-1">
          <span><strong>{% if e.type == "t"%}<i class="bi bi-mortarboard"></i>
            {%else%} <i class="bi bi-tree"></i>{% endif %}</strong></span>
          <a href="{% url 'event_view' e.id %}" class="text-decoration-none">
          {% if q %}{{ e.title|highlight:q|safe  }}{% else %}{{ e.title }}{% endif %}</a>
        </h5>
        <div class="d-flex align-items-baseline gap-2">
              {% if e.online %}
                <i class = "bi bi-globe fs-5 text-info" title="Online Event"></i>
              {% endif %}
              <img src="{% static e.region_image %}" alt="Region" style="height:30px; width:auto;">
        </div>
      </div>
      <div class="text-muted small">
                    {{ e.org.org_name }}
                    {% if e.orgloc %}
                          · {{ e.orgloc.loc_name }}
                      {% endif %}
      </div>
      <div>
                  {% if q %}{{ e.description|highlight:q|safe }}{% else %}{{ e.description }}{% endif %}
      </div>
          <p>{% for cat in e.categories.all %}
                    <span class="badge bg-secondary me-1">{{cat.name}}</span>
                {% endfor %}
                </p>
    </div> 