<form method="get" action="{{ request.path }}" class="me-form">
    
    <div class="mb-3">
        {{ filter_form.org.label_tag }}
        {{ filter_form.org }}
        {{ filter_form.org.errors }}
    </div>

    <div class="mb-3">
        Has: 
        <div class="btn-group" role="group">
  
  <input type="radio" class="btn-check" name="activity_status" id="status-all" value=""
         {% if not request.GET.activity_status %}checked{% endif %}>
  <label class="btn btn-outline-secondary btn-sm" for="status-all">All</label>

  <input type="radio" class="btn-check" name="activity_status" id="status-volunteer" value="volunteer"
         {% if request.GET.activity_status == "volunteer" %}checked{% endif %}>
  <label class="btn btn-outline-secondary btn-sm" for="status-volunteer">Volunteer</label>

  <input type="radio" class="btn-check" name="activity_status" id="status-training" value="training"
         {% if request.GET.activity_status == "training" %}checked{% endif %}>
  <label class="btn btn-outline-secondary btn-sm" for="status-training">Training</label>

  <input type="radio" class="btn-check" name="activity_status" id="status-both" value="both"
         {% if request.GET.activity_status == "both" %}checked{% endif %}>
  <label class="btn btn-outline-secondary btn-sm" for="status-both">Both</label>

  <input type="radio" class="btn-check" name="activity_status" id="status-none" value="none"
         {% if request.GET.activity_status == "none" %}checked{% endif %}>
  <label class="btn btn-outline-secondary btn-sm" for="status-none">None</label>

</div></div>
    <div class="mb-3">
      {{filter_form.loc.label_tag}}
      {{filter_form.loc}}
      {{filter_form.loc.errors}}
    </div>
    <div class="mb-3">
        {{ filter_form.county.label_tag}}
        {{ filter_form.county }}
        {{ filter_form.county.errors }}
    </div>
    <div class="mb-3">
        {{ filter_form.region.label_tag}}
        {{ filter_form.region }}
        {{ filter_form.region.errors }}
    </div>
    <div class="mb-3"> 
        Word Search:
        {{ filter_form.q }}
        {{ filter_form.q.errors }}
    </div>      
    
    <div class="d-flex gap-2">
        <button type = "submit" class="me-btn">Apply</button>
        <a href="{% url 'locations'%}" class ="me-button-link">Clear</a>
    </div>
</form>