{% load highlight %}
{% load static %}

{% for loc in locs %}
<div class="me-card" id="loc-{{loc.id}}" >
  <div class="me-card-header">
    <div class="me-card-header-left">
      <div class="me-card-title-row">       
          {% if q %}
            {{ loc.loc_name|highlight:q|safe }}
          {% else %}
            {{ loc.loc_name }}
          {% endif %}

          {%if request.user.profile.staff%}
          <a href="{% url 'loc_edit' loc.id %}?org={{ org.id }}" title="edit location">
                <i class="bi bi-pencil"></i></a>
          {% endif %}
        </div>
        <div class="me-card-sponsor">
           <a href="{% url "orgs" %}?org_id={{loc.org.id}}">{{loc.org.org_name}}</a>
          {% if loc.location_url%}
            <a href="{{ loc.location_url }}" target="_blank" class="text-decoration-none">{{ loc.location_url }}</a></span>
          {% endif %}
          <br>  {{loc.address}}, {{loc.city_name}} | {{loc.county_id.county_name}} 
      
        </div>
      </div>
      
      
      <div class="me-card-header-right">          
          <img src="{% static loc.region_image %}" alt="{{ loc.region_name }}" style="height:75px;width:auto;" title="{{loc.region_name}}">
      </div>
  </div>
  {% if loc.location_about %}
  <div class="me-description-block"></p>
    <div class = "me-desc-short"> {{ loc.location_about|truncatechars:250 }} </div> 
    <div class="me-desc-full"> {{ loc.location_about|highlight:q|safe }} </div>  
  </div>
  {% endif %}

  <div class="location-toggles mb-2">
    {% if loc.volunteer %}
        <button type="button"
                class="location-toggle "
                data-target="volunteer-{{ loc.id }}" style="background-color:#2C6FA3; color: white;">
            Volunteer
        </button>
    {% endif %}

    {% if loc.training %}
        <button type="button"
                class="location-toggle"
                data-target="training-{{ loc.id }}" style="background-color:#FF7F11; color: white;"">
           Training
        </button>
    {% endif %}
 </div>
  <!-- Tab Content -->
  {% if loc.volunteer %}
    <div id="volunteer-{{ loc.id }}" class="location-section d-none">
    {% for each in loc.volunteer %}
        {% include "orgs/_session_item.html" with e=each q=q source='loc'%}
      {% endfor %}
    </div>
  {% endif %}
  {% if loc.training %}
    <div id="training-{{ loc.id }}" class="location-section d-none">   
      {% for a in loc.training %}
        {% include "orgs/_session_item.html" with e=a q=q %}          
      {% endfor %}
    </div>
    {% endif %}

<p class="small text-muted">
    Last updated: {{ loc.updated_at|date:"M j, Y" }}
  </p>

  </div>
{% endfor %}
  </div>
<!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if locs.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ locs.previous_page_number }}&{{ query_params.urlencode }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for num in locs.paginator.page_range %}
        <li class="page-item {% if locs.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}&{{ query_params.urlencode }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if locs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ locs.next_page_number }}&{{ query_params.urlencode }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

