
<form method="get" action="{{ request.path }}" class="me-form">
  
    <div class="mb-3"> 
        Word Search:
        {{ filter_form.q }}
        {{ filter_form.q.errors }}
    </div>      

    <div class="mb-3">
        {{ filter_form.org.label_tag }}
        {{ filter_form.org }}
        {{ filter_form.org.errors }}
    </div>
    {% if user.is_authenticated %}
    <div class="mb-3">
       {{ filter_form.my_orgs }}
       Show my Favorite Organizations
       {{ filter_form.my_orgs.errors }}
    </div>
    {% endif %}
    <div class="mb-3">
        {{ filter_form.has_volunteer }}
        Has Volunteer Activities
        {{ filter_form.errors }}
    </div>
    <div class="mb-3">
        {{ filter_form.has_training }}
        Has Training Activities
        {{ filter_form.errors}}
    </div>
    
    <div class="mb-3">
        {{ filter_form.region.label_tag}}
        {{ filter_form.region }}
        {{ filter_form.region.errors }}
    </div>
    
    <div class="d-flex gap-2">
        <button type="submit"  class="me-btn">
            <span><i class="bi bi-search me-btn-icon"></i></span>
            <span class="me-btn-label">Apply</span>
        </button>

    </div>
</form>