{% load static %}
<div class="card shadow-sm mb-3 border-0">
        <!-- Title row -->
        <div class="d-flex justify-content-between align-items-start">
          <h5 class="card-title mb-1">

                  <a href="{% url 'role_view' r.id %}" class="text-decoration-none">
                          {{ r.title }} </a></h5>
              <div class="d-flex align-items-baseline gap-2">
              {% if e.online %}
                <i class = "bi bi-globe fs-5 text-info" title="Online Event"></i>
              {% endif %}
              <img src="{% static r.region_image %}" alt="Region" style="height:30px; width:auto;">
        </div>
        </div>
        <div class="text-muted small">
                    {{ r.org.org_name }}
                    {% if r.orgloc %}
                          · {{ r.orgloc.loc_name }}
                      {% endif %}
                      <p>{{ r.time_commitment }} |{{r.date_description}}</p>
      </div>
        <div>
                    {{r.description|truncatewords:200 }}
        </div>
            <p>{% for cat in r.categories.all %}
                      <span class="badge bg-secondary me-1">{{cat.name}}</span>
                  {% endfor %}
                  </p>

      </div>