{% load static %}
{% load highlight %}
{% load can_edit_filters %}

 <div class="me-card">
 <!-- Right block: simple inline icons -->
  <div class="me-card-icons">
  
    {% if e.activity.is_newly_added %}
      <i class="bi bi-asterisk me-new-icon" title="Newly added activity"></i>
    {% endif %}
    {% if e.activity.activity_type == "t" %}
      <i class="bi bi-mortarboard-fill me-learn-icon" title="Training"></i>
    {% else %}
      <i class="bi bi-tree-fill me-tree-icon" title="Volunteer Opportunity"></i>
    {% endif %}  
    {% if e.location %}
      <img src="{% static e.region_image %}" alt="{{e.location.region_name}}"  title="{{ e.location.region_name }}" 
      style="height:40px; width:auto;">
    {% endif %}
     {%if not e.activity.no_cost %}   
      <i class="bi bi-currency-dollar me-cost-icon" data-bs-toggle=""tooltip" title="Training has a cost for participants"></i>
    {% endif %}

</div>
  <!-- Header row -->
  <div class="me-card-header">
    <!-- Left block -->
    <div class="me-card-header-left">        
      <div class="me-card-title-row">
        {% if q %}
          {{ e.activity.title|highlight:q|safe }}
        {% else %}
          {{ e.activity.title }}
        {% endif %}
       {% if e.activity|can_edit:request.user %}
          <a href="{% url 'activity_edit' e.activity_id %}">
            <i class="bi bi-pencil" style="font-size: .75rem;"></i>
          </a>
        {% endif %}
      </div>
      <div class="me-card-sponsor">
        Sponsored by: {{ e.activity.org.org_name }} 
        {% if e.location %} | Location: {{ e.location.loc_name }}{% endif %}
        <br>For more info: 
        {% if e.activity.contact_email%}
          {{ e.activity.contact_email }}<a href="mailto:{{ e.activity.contact_email }}">
          <i class="bi bi-envelope" title="send email to contact person"></i></a>
          
        {% endif %}
  
        {% if e.session_url %}
           | <a href="{{ e.session_url }}" target="_blank">Session Details</a>
        {% else %}
          {% if e.activity.activity_url %}
           | <a href="{{ e.activity.activity_url }}" target="_blank">Activity Details</a>
          {% endif %}
        {% endif %}
      </div>
    </div>
   
  </div> <!-- header -->
  <!-- Date line -->
  <div class="me-card-date">

    {% if e.start %}<strong>Starts:</strong> {{ e.start }}{% endif %}
    {% if e.end %}| <strong>Ends:</strong> {{ e.end }}{% endif %}
    {% if e.activity.date_description %}| <em>{{ e.activity.date_description }}</em>{% endif %}
    {% if e.activity.time_description %}| <em>{{ e.activity.time_description }}</em>{% endif %}
    {% if e.ongoing %}| <span class="badge bg-success">Ongoing</span>{% endif %}
    {% if e.session_format != "i" %}| <span class="badge bg-success">Online</span>{% endif %}
  </div>
  <!-- Description -->
  <div class="me-description-block {% if q %}expanded{% endif %}">
    <div class="me-desc-short">{{ e.activity.description|truncatechars:200 }}</div>
    {%if q %}
    <div class="me-desc-full">{{ e.activity.description|highlight:q|safe }}</div>
    {% else %}
    <div class="me-desc-full">{{ e.activity.description }}</div>
    {% endif %}
  </div>

  <!-- Badges -->
  <div class="me-stack">
    {% for cat in e.activity.categories.all %}
      <span class="me-badge">{{ cat.name }}</span>
    {% endfor %}
  </div>
  <div class="small text-muted py-3">
    Last update: {% if e.updated_at > e.activity.updated_at %}{{ e.updated_at|date:"M j, Y" }}
    {% else %}{{ e.activity.updated_at|date:"M j, Y" }}{% endif %}
   
  </div>
</div>