{% extends "orgs/layout.html" %}
{% block body %}
<div class="container my-4">
<h1>About</h1>
<p>This is a web page that shows Wisconsin Nature Based organizations that Master Naturalists can use to fulfill their ongoing training and volunteer
    requirements. Organizations can come here to add new training or volunteer opportunities.
</p>
<p>To gain access to all features of this site, you will need to register to create a login. Logging in will open all the menu options including search and activities.</p>
<h4>To find opportunities</h4>
<p>After you create a login, you can see lists of Organizations, Locations or Activities. Each page has a filter option so you can filter. 
    </p>
    <ul>
        <li><i class="bi bi-globe"></i>: this is a link to a site provided by the org or activity for more info</li>
        <li><i class="bi bi-tree"></i>: indicates a volunteer opportunity</li>
        <li><i class="bi bi-mortarboard"></i>: indicates a training opportunity</li>
        <li><i class="bi bi-asterisk"></i>: indicates a NEW activity (30 days or less)</li>
    </ul></p>
<h4>If you are a provider</h4>    
<p>If you want to add new organizations or locations you can use the ADD menu choice. 
    To add activities, you need to have already created an org or a location. 
    If you are the owner of the org or location, you will see a pencil icon ( <i class="bi bi-pencil"></i>) indicating that you can edit it. If you click that you will see a page where you 
    can more details regarding your org/location. You will also see an add activity button. Use this add in new opportunities.

</p>
<small>Website written by Mary Eckmeier (mary.eckmeier@gmail.com). County data came from: U.S. Census Bureau’s TIGER/Line Shapefiles. </small>
</div>
{% endblock %}