{% extends "orgs/layout.html" %}
{% block body %}
<div class="me-page">
<h1>Wild Paths - Wisconsin</h1>
<p>Our mission: to connect Wisconsin Master Naturalists with nature-based organizations
</p>
<p>To gain access to all features of this site, you will need to register to create a login. Logging in will open all the menu options including search and activities.</p>

<p>After you create a login, you have three choices to get started.</p>
    <ul>
        <li>Search for Activities (which include both volunteer opportunities and advanced trainings).</li>
        <li>Browse organizations - where you can see their locations and various activities available.</li>
        <li>Map locations - if you want to see locations - and from there, see all the activities in a particular location.</li>
    </ul>
<h2>Icon translation</h2>
    <ul>
        <li><i class="bi bi-globe me-link-icon"></i>: this is a link to a site provided by the org or activity for more info</li>
        <li><i class="bi bi-tree-fill me-tree-icon"></i>: indicates a volunteer opportunity</li>
        <li><i class="bi bi-mortarboard-fill me-learn-icon"></i>: indicates a training opportunity</li>
        <li><i class="bi bi-asterisk me-new-icon"></i>: indicates a NEW activity (30 days or less)</li>
    </ul></p>
    <hr>
<h4>If you are a provider</h4>    
<p>If you are in an organizations you can use the Manage Organizations page to add activities or locations.
    
    If you are the owner of the org or location, you will see a pencil icon ( <i class="bi bi-pencil"></i>) indicating that you can edit it. If you click that you will see a page where you 
    can more details regarding your org/location. You will also see an add activity button. Use this add in new opportunities.

</p>
<small>Website written by Mary Eckmeier (admin@gmail.com). County data came from: U.S. Census Bureau’s TIGER/Line Shapefiles. </small>
</div>
{% endblock %}