{% extends "orgs/layout.html" %}

{% block filter_button %}
   
{% endblock %}

{% block filters %}

{% include "orgs/_activity_filters.html" %}

{% endblock %}


{% block body %}
{% load static %}
{% load highlight %}

<div class="me-page">
  
  <h1>Activities</h1>

  <form method="get" class="quick-filters d-flex flex-wrap gap-2 mb-3">
 
  <!-- Session Format -->
  <div class="me-toggle" role="group" aria-label="Session Format">

  <input type="radio" name="session_mode" id="main-format-all" value=""
         {% if not request.GET.session_mode %}checked{% endif %}>
  <label for="main-format-all">All</label>

  <input type="radio" name="session_mode" id="main-format-inperson" value="i"
         {% if request.GET.session_mode == "i" %}checked{% endif %}>
  <label for="main-format-inperson">In Person</label>

  <input type="radio" name="session_mode" id="main-format-online" value="o"
         {% if request.GET.session_mode == "o" %}checked{% endif %}>
  <label for="main-format-online">Online</label>

</div>

  <!-- Activity Type -->
  <div class="me-toggle" role="group" aria-label="Activity Type">
    <input type="radio" name="activity_type" id="main-type-all" value=""
           {% if not request.GET.activity_type %}checked{% endif %}>
    <label for="main-type-all">All</label>

    <input type="radio" name="activity_type" id="main-type-volunteer" value="v"
           {% if request.GET.activity_type == "v" %}checked{% endif %}>
    <label for="main-type-volunteer">Volunteer</label>

    <input type="radio" name="activity_type" id="main-type-training" value="t"
           {% if request.GET.activity_type == "t" %}checked{% endif %}>
    <label for="main-type-training">Training</label>
  </div>
<button class="me-btn"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <span><i class="bi bi-funnel me-btn-icon"></i></span>
        <span class="me-btn-label">
        More Filters</span>
    </button>
</form>

    {% for a in upcoming %}
    
      {% include "orgs/_session_item.html" with e=a q=q %} 

    {% endfor %}

<hr>

      {% for a in ongoing %}
      {% include "orgs/_session_item.html" with e=a q=q %}

    {% endfor %}
    


{% endblock %}
{% block extrajs %}
<script>
document.querySelectorAll(".quick-filters input").forEach(el => {
  el.addEventListener("change", () => {
    el.closest("form").submit();
  });
});
</script>
{% endblock %}