<!-- templates/activities/activity.html -->
{% extends "orgs/layout.html" %}


{% block body %}
{% load static %}
<div class="me-page">
<h2>Activity</h2>
{%if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form class="me-form"method="post" id="activity-form" data-default-location="{{ default_location_id }}" data-org-id="{{ activity.org.id }}" novalidate>
 {% csrf_token %}
 <input type="hidden" name="org" value="{{ request.GET.org }}">
 <input type="hidden" name="location" value="{{ request.GET.location }}">
 <input type="hidden" name="next" value="{{ request.GET.next|default:request.get_full_path }}">
 {% if duplicate_warning %}
  <div style="background: #fff3cd; padding: 10px; margin-bottom: 10px;">
    ⚠️ An activity with this name already exists for this organization.
    Are you sure you want to add another? 
    (if you cancel you will lose your edits - if you want it but with a different name, just change the title and click Add Anyway)
  </div>

  <button class="me-btn" type="submit" name="confirm_duplicate" value="1">
    <span><i class="bi bi-check-square me-btn-icon"></i></span>
    <span class="me-btn-label">Yes, add anyway</span>

  </button>

  <a href="" class="me-btn">
    <span><i class="bi bi-x-square me-btn-icon"></i></span>
    <span class="me-btn-label">Cancel</span>
    </a>
{% else %}

       <button type ="submit" class="me-btn">
        <span><i class="bi bi-floppy me-btn-icon"></i></span>
         <span class="me-btn-label">Save</span>
        </button>

{% endif %}   

<fieldset>
       <div class="error-text"> {{ activity_form.non_field_errors }}</div>
    <div class = "form-grid {% if view_only %}view-mode{% endif %}">
        <div class="form-field">
            {{ activity_form.title.label_tag }}<br>
            {{ activity_form.title }}
            <span class="error-text">{{ activity_form.title.errors }}</span>
        </div>

         <div class="form-field">
            Type:<br>
            {{ activity_form.activity_type }}
            {{ activity_form.activity_type.errors }}
        </div>
        <div class="form-field">
            {{ activity_form.org.label_tag }}
            {{ activity_form.org }}
            {{ activity_form.org.errors }}
        </div>
        <div class="form-field">
            URL for Activity
            {{ activity_form.activity_url}}
            <span class="error-text">{{ activity_form.activity_url.errors}}</span>
        </div>
        <div class="form-field">
            <i class="bi bi-currency-dollar " data-bs-toggle="tooltip" title="Training has a cost for participants"></i>
            {{ activity_form.has_cost }}
            
             <span class="error-text
            <span class="error-text">{{ activity_form.has_cost.errors }}</span>
        </div>
        <div class="form-field">
            Activity contact:<br>
            {{ activity_form.contact_email }}
            <span class="error-text">{{ activity_form.contact_email.errors }}</span>
        </div>
                <div class ="form-field-full">
            {{ activity_form.description.label_tag }}<br>
            {{ activity_form.description }}
            {{ activity_form.description.errors }}
        </div>
        <div class="form-field-full">
          
    
    <div class="formset" data-prefix="locations">
    
       
        {{ session_formset.management_form }}
        <table class="formset-table {% if view_only %}view-mode{% endif %}">
            <thead>
                <tr> 
                    <th>In Person/Online</th>
                    <th>URL (if online option)</th>
                    <th>Location (if inperson)</th>
                    <th>Ongoing</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                {% for form in session_formset %}
                    <tr class ="formset-row">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        
                                                
                        <td>

                            {{ form.session_format }}
                            {{ form.session_format.errors }}

                        </td>
                        
                        <td>
                            <div class="url-group">
                            {{ form.session_url }}
                            {{ form.session_url.errors }}
                            </div>
                        </td> 
                        <td>
                           <div  class="loc-group">
                            <div class="real-location-field d-none">
                                {{ form.location }}
                            </div>

                            <div class="selected-location-display small border rounded p-2 mb-1">
                                {% if form.instance.location %}
                                    {{ form.instance.location.loc_name }}
                                {% else %}
                                    <span class="text-muted">No location selected</span>
                                {% endif %}
                            </div>

                            {{ form.location.errors }}

                            <button type="button"
                                    class="me-btn  open-location-search"
                                    data-bs-toggle="modal"
                                    data-bs-target="#locationSearchModal">
                                 <span><i class="bi bi-search me-btn-icon"></i></span> 
                               <span class="me-btn-label">Find Location</span>
                            </button>
                        </div>
                        </td>       
                        <td> 
                           
                            {{form.ongoing }}
                             {{form.ongoing.errors}}
                        </td>
                        <td class="date-group">
                            <div class="date-content">
                            {{ form.start }}
                            {{ form.start.errors }}
                            </div>
                        </td>       
                        <td class="date-group">
                            <div class="date-content">
                            {{ form.end }}
                            {{ form.end.errors }}
                            </div>
                        </td>    

                        <td>{{form.DELETE}}</td>
                    </tr>
                    
            {% empty %}
                    <tr class="empty-hint">
                        <td colspan="4">No sessions added.</td>
                    </tr>
            {% endfor %}
                     {% if form.non_field_errors %}
                        <tr>
                            <td colspan="7" class="error-text">
                                {{ form.non_field_errors }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr class="formset-row form-template" style="display:none;">
                        {% for hidden in session_formset.empty_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                     <td>{{ session_formset.empty_form.session_format }}</td>
                     <td>{{ session_formset.empty_form.session_url }}</td>
                     <td>{{ session_formset.empty_form.location }}
                            <button type="button"
                                    class="me-btn  open-location-search"
                                    data-bs-toggle="modal"
                                    data-bs-target="#locationSearchModal">
                               <span><i class="bi bi-plus-fill me-btn-icon"></i></span> 
                               <span class="me-btn-label">Find or Add Location</span>
                            </button>
                     </td>
                     <td>{{ session_formset.empty_form.ongoing }}</td>
                     <td>{{ session_formset.empty_form.start }}</td>
                     <td>{{ session_formset.empty_form.end }}</td>
                    <td>{{session_formset.empty_form.DELETE}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
    {% if can_edit %}
    {% if not view_only %}
        <button type="button" id="add-btn" class="me-btn">
           <span><i class="bi bi-plus-circle me-btn-icon"></i></span> 
           <span class="me-btn-label">Add Sessions</span>
        </button>
    {% endif %}
 {% endif %}    
    </div>
    <div class ="form-field-full">
             <legend>Details</legend>
           <span class="me-muted">These fields are optional but you can use them to display additional information regarding dates and times.</span>
        </div>
        <div class="form-field">
            {{ activity_form.date_description.label_tag }}<br>
            {{ activity_form.date_description }}
            {{ activity_form.date_description.errors }}
        </div>
        <div class="form-field">
            Time: <br>
            {{ activity_form.time_commitment }}
            {{ activity_form.time_commitment.errors }}
        </div> 
        <div class="form-field">
            {{ activity_form.time_description.label_tag }}<br>
            {{ activity_form.time_description }}
            {{ activity_form.time_description.errors }}
        </div>


       

<div class="form-field-full">
     <legend>Keywords (to help with volunteer searches)</legend>

    {% for group, choices in activity_form.category_groups %}
        <div class="category-group">
            <div class="category-group-title">
                <strong>{{ group|title }}</strong>
            </div>

            <div class="category-options">
                {% for value, label in choices %}
                    <label class="category-checkbox">
                        <input type="checkbox"
                               name="{{ activity_form.categories.html_name }}"
                               value="{{ value }}"
                               id="filter_cat_{{ value }}"
                               {% if value|stringformat:"s" in activity_form.selected_category_ids %}checked{% endif %}>
                        {{ label }}
                    </label>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {{ activity_form.categories.errors }}
</div>
   
</div>

        

    </fieldset>
    
        
{% if duplicate_warning %}
  <div style="background: #fff3cd; padding: 10px; margin-bottom: 10px;">
    ⚠️ An activity with this name already exists for this organization.
    Are you sure you want to add another?
  </div>

  <button class="me-btn" type="submit" name="confirm_duplicate" value="1">
    <span><i class="bi bi-check-square me-btn-icon"></i></span>
    <span class="me-btn-label">Yes, add anyway</span>
  </button>

  <a href="" class="me-btn">
    <span><i class="bi bi-x-square me-btn-icon"></i></span>
    <span class="me-btn-label">Cancel<span></span></a>
{% else %}

       <button type ="submit" class="me-btn">
        <span><i class="bi bi-floppy me-btn-icon"></i></span>
         <span class="me-btn-label">Save</span>
        </button>

{% endif %}

</form>
</form>

{% include "orgs/quick_location_modal.html"  with org=activity.org  %}
<hr>
<p>Created :
{% if activity.created_by %}
  {{ activity.created_by }}
  /{{ activity.created_at }}
{% endif %}</p>

<p>Last updated by: 
{% if activity.updated_by %}
  {{ activity.updated_by }} |
   {{ activity.updated_at }}
{% endif %}
</p>
</div>
{% endblock %}
{% block extrajs%}
  <script src="{% static 'locationpicker.js' %}"></script>
{% endblock %}