{% extends "orgs/layout.html" %}

{% block filter_button %}
    <button class="btn btn-outline-secondary ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <i class="bi bi-funnel"></i>
        Filter
    </button>
{% endblock %}

{% block filters %}

<form method="get" action="{{ request.path }}">
    <input type="hidden" name="page" value="{{ request.GET.page|default:'1' }}">
    
    <div class="mb-3"> 
        {{ filter_form.q }}
        {{ filter_form.q.errors}}
    </div>  
    <div class="mb-3">
        {{ filter_form.type.label_tag}}
        {{ filter_form.type }}
    </div>
    <div class="mb-3">
        {{ filter_form.filter_type.label_tag}}
        {{ filter_form.filter_type }}
    </div>

    <div class="mb-3">
        {{ filter_form.my_orgs }}
        {{ filter_form.my_orgs.label_tag }}
        {{ filter_form.my_orgs.errors }}
    </div>
    <hr>
    <div class="mb-3">
        {{ filter_form.county.label_tag}}
        {{ filter_form.county }}
    </div>
    <div class="mb-3">
        {{ filter_form.region.label_tag}}
        {{ filter_form.region }}
    </div>
    <div class="mb-3">
        <label class="form-label">Categories</label>
        <div class="d-flex flex-wrap gap-2">
            {% for cat in filter_form.categories %}
                <div class="form-check form-check-inline">
                    {{cat.tag}}
                    <label class="form-check-label" for="{{cat.id_for_label }}">
                        {{cat.choice_label}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
  
    
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">Apply</button>
        <a href="{% url 'events' %}" class="btn btn-outline-secondary">Clear</a>
    </div>
</form>
{% endblock %}

{% block body %}
{% load static %}
{% load highlight %}

<div class="container my-4">
  <h1>Upcoming Training & Volunteer Roles</h1>

  <!-- Tabs nav -->
  <ul class="nav nav-tabs mb-3" id="activityTabs" role="tablist">

  <li class="nav-item">
    <button class="nav-link active" id="upcoming-tab" data-bs-toggle="tab" data-bs-target="#upcoming" type="button" role="tab">Upcoming</button>
  </li>

  <li class="nav-item">
    <button class="nav-link " id="new-tab" data-bs-toggle="tab" data-bs-target="#new"  type="button" role="tab">Newly Added</button>
  </li>
  
  <li class="nav-item">
    <button class="nav-link " id="ongoing-tab" data-bs-toggle="tab" data-bs-target="#ongoing"  type="button" role="tab">Ongoing</button>
  </li>

</ul>

<!-- Tabs content -->
<div class="tab-content" id="activityTabsContent">

  <!-- Current -->
   <div class="tab-pane fade show active" id="upcoming" role="tabpanel">
    {% for a in upcoming %}
      {% include "orgs/_session_item.html" with e=a q=q %} 
    {% empty %}
      <p class="text-muted">No current activities</p>
    {% endfor %}
    </div>

  <!-- Online -->
   <div class="tab-pane fade" id="new" role="tabpanel">

    {% for a in new %}
      {% include "orgs/_session_item.html" with e=a q=q %}
    {% empty %}
      <p class="text-muted">No online events</p>
    {% endfor %}
    
  </div>

    <!-- Ongoing -->
  <div class="tab-pane fade" id="ongoing" role="tabpanel">
    {% for a in ongoing %}
      {% if not a.start %}{% include "orgs/_session_item.html" with e=a q=q %}{% endif %}
    {% empty %}
      <p class="text-muted">No ongoing events</p>
    {% endfor %}
    
  </div>


{% endblock %}