{% extends "orgs/layout.html" %}


{% block filters %}
{% include "orgs/_calendar_filters.html" %}
{% endblock %}


{% block body %}
{% load static %}
{% load can_edit_filters %}
{% load highlight %}
<div class="me-page">
<button class="me-btn me-btn-compact-mobile me-btn-small"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <span><i class="bi bi-funnel me-btn-icon"></i></span>
        <span class="me-btn-label">
        More Filters</span>
    </button>
<a href="{% url 'calendar'%}" class ="me-btn me-btn-compact-mobile me-btn-small">
            <span><i class="bi bi-funnel-fill me-btn-icon" title="clear all filters"></i></span>
            <span class="me-btn-label">Clear</span></a>   

    {% for month_key, days in calendar.items %}
    
    <div class="me-calendar-month">
        <div class="me-calendar-month-title">{{ month_key}}</div>
        
       {% for day, sessions in days.items %}
       <div class="me-calendar-day">
        <div class="me-calendar-day-header">
            <div class="me-calendar-day-name">{{ day|date:"D" }}</div>
            <div class="me-calendar-day-number">{{ day|date:"j" }}</div>
        </div> <!--me-calendar-day-header-->

        <div class="me-calendar-day-sessions"> 
 
         {% for e in sessions %}
            {% include "orgs/_session_summary.html" %}
        {% endfor %}
         </div><!--me-calendar-day-sessions-->

        </div><!--me-calendar-day -->
        {% endfor %}
        
    </div> <!--me-calendar-month -->
    {% endfor %}
    

</div> <!--me-page -->

<div class="modal fade" id="activityPanel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="activityContent">
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script>
console.log("Activity JS loaded");
document.addEventListener("click", async function (e) {
    const link = e.target.closest(".me-activity-link");
    if (!link) return;

    e.preventDefault();

    const activityId = link.dataset.activity;
    const locationId = link.dataset.location;
    console.log("Clicked activity:", activityId);

    const response =  await fetch(`/act-loc-panel/${locationId}/${activityId}/`);
    const html = await response.text();

    document.getElementById("activityContent").innerHTML = html;
});
</script>
{% endblock %}
