{% extends "orgs/layout.html" %}


{% block filters %}
{% include "orgs/_calendar_filters.html" %}
{% endblock %}


{% block body %}
{% load static %}
{% load can_edit_filters %}
{% load highlight %}
<div class="me-page">
  <div class="me-card-header">
    <div class="me-card-header-left">  
   
    </div>
    <div class="me-card-header-right">
      {% if active_filters %}
          <div class="me-sponsor">
              <strong>{{ result_count }}</strong> result{{ result_count|pluralize }} found
              for:
              {{ active_filters|join:", " }}
          </div>
      {% else %}
          <div class="me-sponsor">
              <strong>{{ result_count }}</strong> result{{ result_count|pluralize }} found
          </div>
      {% endif %}
    </div>
  </div>
 
   <form method="get" class="quick-filters d-flex flex-wrap gap-2 mb-3">
    {% for key, value in query_params.items %}
          <input type="hidden" name="{{ key }}" value="{{ value }}">
    {% endfor %}

    <div class="me-toggle">
    <select name="month"
            id="{{ filter_form.month.id_for_label }}"
            class="form-select me-month-select">
        {% for value, label in filter_form.month.field.choices %}
            <option value="{{ value }}"
                {% if filter_form.month.value == value %}selected{% endif %}>
                {{ label }}
            </option>
        {% endfor %}
    </select>
    </div>

    <button class="me-btn me-btn-compact-mobile me-btn-small"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <span><i class="bi bi-funnel me-btn-icon"></i></span>
        <span class="me-btn-label">
        More Filters</span>
    </button>

<div class="me-card-header-right">
    <a href="{% url 'calendar'%}" class ="me-btn me-btn-compact-mobile me-btn-small">
            <span><i class="bi bi-funnel-fill me-btn-icon" title="clear all filters"></i></span>
            <span class="me-btn-label">Clear</span></a>  
        </div> 
</form>

    {% for month_key, days in calendar.items %}
    
    <div class="me-calendar-month">
        <div class="me-calendar-month-title">{{ month_key}}</div>
        
       {% for day, sessions in days.items %}
       <div class="me-calendar-day">
        <div class="me-calendar-day-header">
            <div class="me-calendar-day-name">{{ day|date:"D" }}</div>
            <div class="me-calendar-day-number">{{ day|date:"j" }}</div>
        </div> <!--me-calendar-day-header-->

        <div class="me-calendar-day-sessions"> 
 
         {% for e in sessions %}
            {% include "orgs/_session_summary.html" %}
        {% endfor %}
         </div><!--me-calendar-day-sessions-->

        </div><!--me-calendar-day -->
        {% endfor %}
        
    </div> <!--me-calendar-month -->
    {% endfor %}
    

</div> <!--me-page -->

<div class="modal fade" id="activityPanel" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body" id="activityContent">
            </div>

        </div>
    </div>
</div>

{% endblock %}
{% block extrajs %}
<script>

document.querySelectorAll(".quick-filters select").forEach(el => {
  el.addEventListener("change", () => {
    el.closest("form").submit();
  });
});

console.log("Activity JS loaded");
document.addEventListener("click", async function (e) {
    const link = e.target.closest(".me-activity-link");
    if (!link) return;

    e.preventDefault();

    const activityId = link.dataset.activity;
    const locationId = link.dataset.location;
    console.log("Clicked activity:", activityId);

    const response =  await fetch(`/act-loc-panel/${locationId}/${activityId}/`);
    const html = await response.text();

    document.getElementById("activityContent").innerHTML = html;
});
</script>
{% endblock %}
