{% extends "orgs/layout.html" %}

{% block filter_button %}
    <button class="btn btn-outline-secondary ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <i class="bi bi-funnel"></i>
        Filter
    </button>
{% endblock %}

{% block filters %}

<form method="get" action="{{ request.path }}">
    <div class="mb-3"> 
        {{ filter_form.q }}
        {{ filter_form.q.errors}}
    </div>  
    <div class="mb-3">
        {{ filter_form.event_type.label_tag}}
        {{ filter_form.event_type }}
    </div>
    <div class="mb-3">
        {{ filter_form.filter_type.label_tag}}
        {{ filter_form.filter_type }}
    </div>

    <div class="mb-3">
        {{ filter_form.my_orgs }}
        {{ filter_form.my_orgs.label_tag }}
        {{ filter_form.my_orgs.errors }}
    </div>
    <hr>
    <div class="mb-3">
        {{ filter_form.county.label_tag}}
        {{ filter_form.county }}
    </div>
    <div class="mb-3">
        {{ filter_form.region.label_tag}}
        {{ filter_form.region }}
    </div>
    <div class="mb-3">
        <label class="form-label">Categories</label>
        <div class="d-flex flex-wrap gap-2">
            {% for cat in filter_form.categories %}
                <div class="form-check form-check-inline">
                    {{cat.tag}}
                    <label class="form-check-label" for="{{cat.id_for_label }}">
                        {{cat.choice_label}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
  
    
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">Apply</button>
        <a href="{% url 'event_list' %}" class="btn btn-outline-secondary">Clear</a>
    </div>
</form>
{% endblock %}

{%block body %}
{% load static %}
{% load highlight %}
{% with query_params.urlencode as query_string %}


    {% for event in events %}
        <div class="mycontainer">
            <div class="event-title">    
                 <span><strong><span class="event-tag event-{{event.event_type}}">{{event.event_type|capfirst}}</span>
                    <a href="{% url 'event_view' event_id=event.id %}">
                     {% if q %}
                        {{event.title|highlight:q|safe}} 
                    {% else %}
                        {{ event.title }}
                    {% endif %}</a></span></strong> 
            </div>
            <div>
                <p><a href="{% url 'org_view' org_id=event.org.id %}">
                     {% if q %}
                        {{ event.org.org_name|highlight:q|safe}}
                    {% else %}
                        {{ event.org.org_name }}
                    {% endif %}</a>

                    {% if event.orgloc %} | 
                        {% if q %}
                          {{event.orgloc.loc_name|highlight:q|safe}}
                        {% else %}
                          {{ event.orgloc.loc_name }}
                        {% endif %}
                        {% if event.orgloc.county_id %}
                            ({{ event.orgloc.county_id.county_name }})
                        {% endif %}    
    
                    {% endif %}</p>
                <p>{% if event.date_description %}
                        {{event.date_description}} | 
                    {% elif event.date %}
                        {{ event.date}} | {% endif %}
                    {% if event.time_commitment %}
                        {{event.time_commitment }} {%endif %}
                </p>
             
                <p>{% for cat in event.categories.all %}
                    <span class=""badge bg-secondary"> {{cat.name}} | </span>
                {% endfor %}
                </p>
            </div>

            <div class="event_description">
                <p> {% if q %}
                            {{event.description|highlight:q|safe}}
                        {% else %}
                            {{event.description | truncatechars:300}}
                        {% endif %}
                        </p>
                {% if event.event_url %}
                    <p><a href="{{ event.event_url }}" target="_blank">More Info</a></p>
                {% endif %}
               
            </div>
        </div>

    {% empty %}
        <p>No events are available.</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if events.has_previous %}
                <a href="?page=1{% if query_string %}&{{ query_string }}{% endif %}"> first</a>
                <a href="?page={{ events.previous_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ events.number }} of {{ events.paginator.num_pages }}.
            </span>

            {% if events.has_next %}
                <a href="?page={{ events.next_page_number }}{% if query_string %}&{{ query_string }}{% endif %}">next</a>
                <a href="?page={{ events.paginator.num_pages }}{% if query_string %}&{{ query_string }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endwith %}
{% endblock %}