{% extends "orgs/layout.html" %}
{% load static %}
{% load highlight %}
{% load can_edit_filters %}

{% block body%}
<div class="my-page">
<form method="POST" action="{{ request.path }}">
     {% csrf_token %}
    <input type="hidden" name="page" value="{{ request.GET.page|default:'1' }}">
    
    <div class="mb-3"> 
        {{ filter_form.q }}
        {{ filter_form.q.errors}}
    </div>  
    <div class="mb-3">
        {{ filter_form.type.label_tag}}
        {{ filter_form.type }}
    </div>
    <div class="mb-3">
        {{ filter_form.filter_type.label_tag}}
        {{ filter_form.filter_type }}
    </div>

    <div class="mb-3">
        {{ filter_form.my_orgs }}
        {{ filter_form.my_orgs.label_tag }}
        {{ filter_form.my_orgs.errors }}
    </div>
    <hr>
    <div class="mb-3">
        {{ filter_form.county.label_tag}}
        {{ filter_form.county }}
    </div>
    <div class="mb-3">
        {{ filter_form.region.label_tag}}
        {{ filter_form.region }}
    </div>
    <div class="mb-3">
        <label class="form-label">Categories</label>
        <div class="d-flex flex-wrap gap-2">
            {% for cat in filter_form.categories %}
                <div class="form-check form-check-inline">
                    {{cat.tag}}
                    <label class="form-check-label" for="{{cat.id_for_label }}">
                        {{cat.choice_label}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
  
    
    <div class="d-flex gap-2">
        
        <button type="submit"  class="me-btn">Go</a>
    </div>
</form>
</div>
{%endblock%}