{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}
<div class="me-page">
<h1>Tutorials</h1>
<div class="me-card">
    
    <a href="{% url 'help_video' '_pEHMJEaE3g' %}">
        <div class="me-card-split">
            <div class="me-card-split-left">

            <img src="{% static 'orgs/images/wpwlogo13_9d.svg'%}" class="img-fluid" style="max-width:120px;">
            </div>
            <div class="me-card-split-right">
            <h4>Welcome to WildPathsWI.org</h4>

                <p>Estimated time: 2 minutes</p>
            </div>
        </div></a>
</div>


<div class="me-card">

    <a href="{% url 'help_video' 'CO5Xr3qWKWc' %}">
        <div class="me-card-split">
        <div class="me-card-split-left">    
        <img src="{% static 'orgs/images/wpwlogo13_9d.svg'%}" class="img-fluid" style="max-width:120px;"></div>
        <div class="me-card-split-right">
        <h4>Add Your Organization</h4>

     <p>Estimated time: 2 minutes</p>

        <ul>Topics:
        <li>Add an organization</li>
        <li>Create a login</li>
        <li>View the organization management pages</li>
        </ul>
        </div></div></div></a>
<hr>
<div class="me-card">
     <a href="{% url 'help_video' '1P94zw9f604' %}">
        <div class="me-card-split">
            <div class="me-card-split-left">    
            <img src="{% static 'orgs/images/wpwlogo13_9d.svg'%}" class="img-fluid" style="max-width:120px;"></div>
            <div class="me-card-split-right">
        <h4>Manage Your Organization</h4>
    

        <p>Estimated time: 2 minutes</p>
        <ul>Topics:
        <li> the organization management pages</li>
        <li> adding locations (addresses)</li>
        <li> adding activities</li>
        </ul>
        </div></div></div></a>
        </div>
{% endblock %}