{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}
<div class="me-page">
<div class="me-landing-content">
     <img src="{% static 'orgs/images/newlogoCropped.jpg'%}" width ="200" class="img-fluid" style="background-color:#2e7d32;">
<div>
<h1>Welcome!</h1> 
<h4>A Compass to Conservation in Wisconsin.</h4>



    <a class="me-btn" href="{% url 'activities' %}?activity_type=v" ; font-weight: bold;color:black;">
     <span>
            <i class="bi bi-tree-fill me-btn-icon me-btn-vol-icon"></i>
    </span>
    <span class="me-btn-label">
        Volunteer
    </span>
</a>

<a class="me-btn" href="{% url 'activities' %}?activity_type=t" ;font-weight: bold;color:black;">
    <span>
            <i class="bi bi-mortarboard-fill me-btn-icon me-btn-learn-icon"></i>
    </span>
    <span class="me-btn-label">
        Training</span> 
</a>
<a class="me-btn" href="{% url 'locations' %}" title="See a map of locations">
    <span>
            <i class="bi bi-geo-alt-fill me-btn-icon  me-btn-brown-icon"></i>
        </span>
    <span class="me-btn-label">
        Locations</span>
</a>
<a class="me-btn" href="{% url 'orgs' %}" title="See a list of organizations">
    <span>
            <i class="bi bi-people-fill me-btn-icon"></i>
    </span>
    <span class="me-btn-label">
        Organizations</span>
</a>
</div>

<a href="https://www.wimasternaturalist.org" target="_blank">Wisconsin Master Naturalists</a>
can use this site to find ways to volunteer and access advanced training opportunities throughout the state.</p>

<hr>
{% if user.is_authenticated%}
    <div class="me-muted">If you are an organization and want to manage locations or activities:</div><br>
    <a class="me-btn" href="{% url 'org_mgmt' %}" title="Manage YOUR organizations">
        <span>
            <i class="bi bi-gear-fill me-btn-icon me-btn-black-icon"></i>
    </span>
     <span class="me-btn-label">
    Manage Organizations</span></a>

{%else%}
<p>This website was designed to help Wisconsin Master Naturalists find volunteer and training opportunities. 
    </p> 
<a class="me-button-link" href="{% url 'account_signup' %}">
    Click here to get started</a>
    Already have a login -> <a class="me-button-link" href="{% url 'account_login' %}">Login</a>
     to gain full advantage of this system to connect you to your natural world.

{%endif%}
</div>
</div>
{% endblock %}