{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}
<div class="me-page">
<div class="me-landing-content">
     <img src="{% static 'orgs/images/wild_paths_logo.jpg' %}" alt="Wild Paths - Wisconsin" width="100" class="img-fluid">
<div>
<h1>Welcome!</h1> 
<h4>Connect to nature-based organizations for training and volunteer opportunities.</h4>
<br>
{% if user.is_authenticated%}

<a class="me-landing-btn" href="{% url 'activities' %}?activity_type=v" style="background-color:rgb(33, 212, 63); font-weight: bold;color:black;">
    <i class="bi bi-tree-fill me-tree-icon"></i> Volunteer</a>
<a class="me-landing-btn" href="{% url 'activities' %}?activity_type=t" style="background-color: rgba(255, 215, 0, 1);font-weight: bold;color:black;">
    <span><i class="bi bi-mortarboard-fill me-learn-icon"></i> Training</span></a>
    <br><br>
<a class="me-button-link" href="{% url 'locations' %}" title="See a map of locations">
    Locations</a>
<a class="me-button-link" href="{% url 'orgs' %}" title="See a list of organizations">
    Organizations</a>
</div>
<br><br>
This site was built to help <a href="https://www.wimasternaturalist.org" target="_blank">Wisconsin Master Naturalists</a>
to find ways to maintain their designation with volunteer and training opportunities throughout the state.</p>

<hr>
<br>
    <div class="me-muted">If you are an organization and need to manage locations or activities:</div><br>
    <a class="me-button-link" href="{% url 'org_mgmt' %}">
    Manage Organizations</a>

{%else%}
<p>This website was designed to help Wisconsin Master Naturalists find volunteer and training opportunities. 
    </p>
    
    <a class="me-button-link" href="{% url 'register' %}">
    Click here to get started</a>
    Already have a login -> <a class="me-button-link" href="{% url 'login' %}">Login</a>
     to gain full advantage of this system to connect you to your natural world.

{%endif%}
</div>
</div>
{% endblock %}