{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}Nature Based Organizations{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link href="{% static 'styles.css' %}?v=2" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
     <style>
        #map { height: 90vh; width: 100%; }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand -->
    <a href="{% url "landing" %}">
        <img src="{% static 'orgs/images/canopy_logo.jpg' %}" alt="canopy Logo" width="140" class="img-fluid">
    </a>
    <!--Toggler -->
    <button class ="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarMain">
                <span class="navbar-toggler-icon"></span>
    </button>

    <!-- menu items-->
    <div class="collapse navbar-collapse" id="navbarMain">
        <!-- left side -->
        <ul class = "navbar-nav me-auto mb-2 mb-lg-0">
            

            {% if user.is_authenticated %}
                {% if request.path != "/filter/" %}<li class="nav-item"><a class="nav-link" href="{% url 'filter' %}">
                    Find Activities</a></li>{% endif %}
                {% if request.path != "/orgs/" %}<li class ="nav-item"><a class="nav-link" href="{% url 'orgs' %}">
                    Browse Orgs</a></li>{% endif %}
                {% if request.path != "/map/" %}<li class="nav-item"><a class="nav-link" href="{% url 'map' %}">
                    Map</a></li>{% endif %}

                {% if request.path != "/org_mgmt/" %}<li class="nav-item"><a class="nav-link" href="{% url 'org_mgmt' %}">
                    Organization Management</a></li>{% endif %}
         
                
                
                {% if user.is_staff %}<li class="nav-item"><a class="nav-link" href="/admin/">
                    Admin</a></li>
                {% endif %}  
                <li class="nav-item">
                    {% block filter_button %}{% endblock %}    
                </li>    

            {% endif %} 
            <li class = "nav-item">
                <a class="nav-link" href="{% url 'about' %}">
                 About</a>
            </li>
        </ul>
        <!-- RIGHT SIDE -->
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">
                    Logout</a></li>
                <li class="nav-item"><span class="nav-link disabled">
                    Signed in as {{ user.username }}</span></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">
                    Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">
                    Register</a></li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
{% if not user.is_authenticated %}<em>To access all features including activities and search - please login. </em>{% endif %}

<hr>
  <!-- OFFCANVAS PANEL (global UI) -->
  <!-- Filter side panel -->
<div class="offcanvas offcanvas-start"
                    tabindex="-1"
                    id="filterPanel"
                    aria-labelledby="filterPanelLabel">  
                      <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="filterPanelLabel">
                        Filter
                        </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close">
                        </button>
                    </div>


  <div class="offcanvas-body">

    {% block filters %}
    {% endblock %}

  </div>
</div>

{% block body %}{% endblock %}
<hr>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'script.js' %}"></script>
</body>
</html>
