{% extends "orgs/layout.html" %}

{% block body %}
<div class="me-page">
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<h2>Locations</H2>
 <p>Org: {{ loc.org.org_name }}</p> 

    <form method="post" class="loc-form me-form" id="location-form">
    {% csrf_token %}
   {{form.id}}
      
    
    <div class = "form-grid {% if view_only %}view-mode{% endif %}">
        <div class ="form-field-full">
            Location Name:
            {{ form.loc_name}}
            {{ form.loc_name.errors }}
            {% if form.loc_name.help_text %}
                <div class="form-text">
                    {{ form.loc_name.help_text }}
                </div>
            {% endif %}
        </div>
                <div class ="form-field-full">
            {{ form.address.label_tag }}
            {{ form.address}}
            {{ form.address.errors }} 
        </div>
        <div class ="form-field">
            {{ form.city_name.label_tag }}
            {{ form.city_name}}
            {{ form.city_name.errors }}
        </div>
        <div class ="form-field">
            {{ form.state.label_tag }}
            {{ form.state}}
            {{ form.state.errors }}
        </div>
        <div class ="form-field">
            {{ form.zip_code.label_tag }}
            {{ form.zip_code}}
            {{ form.zip_code.errors }}
        </div>
        <div class="form-field-full">
            {{ form.location_about.label_tag}}
            {{ form.location_about}}
            {{ form.location_about.errors}}
        </div>
       
        <div class ="form-field">
            Location website:
            {{ form.org_loc_url}}
            {{ form.org_loc_url.errors }}
            {{ form.contact_email.label_tag }}
            {{ form.contact_email}}
            {{ form.contact_email.errors }}
        </div>
         <div></div>
         <div class ="form-field">
            {{ form.region_name.label_tag }}
            {{ form.region_name}}
            {{ form.region_name.errors }}
            {{ form.county_id.label_tag }}
            {{ form.county_id}}
            {{ form.county_id.errors }}
        </div>
   </div>
         <!-- submit button INSIDE the form -->
        <button type="submit" class="me-btn">
            Save
        </button>


    

</form>

{% if loc.created_by %}
  <p>Created : {{ loc.created_by }}
  /{{ loc.created_at }}
{% endif %}</p>

<p>Last updated by: 
{% if loc.updated_by %}
  {{ loc.updated_by }} |
   {{ loc.updated_at }}
{% endif %}
</div>
{% endblock %}