{% extends "orgs/layout.html" %}


{% block filter_button %}
    <button class="btn btn-outline-secondary ms-2"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <i class="bi bi-funnel"></i>
        Filter
    </button>
{% endblock %}

{% block filters %}
{% include "orgs/_location_filters.html" %}

{% endblock %}


{% block body %}
{% load static %}
{% load highlight %}
{% load can_edit_filters %}
{% with query_params.urlencode as query_string %}

<div id="listContainer">
{% if request.GET.view == "list" %}
    {% include "orgs/_location_list.html" %}
{% else %}
    {% include "orgs/_location_map.html" %}
{% endif %}

</div>

{% endwith %}
{% endblock %}
