{% load static %}
<img src="{% static 'orgs/images/wild_paths_logo.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
  <img src="{% static 'orgs/images/wildpath_logo.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
   <img src="{% static 'orgs/images/wild_paths_logo.svg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
    <img src="{% static 'orgs/images/wild_paths_square.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
     <img src="{% static 'orgs/images/wild_paths_wisconsin_logo.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
      <img src="{% static 'orgs/images/wild_paths_wisconsin_vintage.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">
       <img src="{% static 'orgs/images/wildpath_logo.jpg' %}" alt="Wild Paths - Wisconsin" width="300" class="img-fluid">