{% extends "orgs/layout.html" %}
{% load static %}
{% block body %}

<h1>My Organizations</h1>
 {% for org in organizations %}

   <div class="card mb-4 p-3"  id="org-{{org.id}}">
    <!-- Organization Name -->
    <h4 class="card-title">{{ org.org_name }}<a href="{% url 'org_edit' org.id %}" title="manage organization details"><i class="bi bi-pencil"></i></a>
    </h4>
    <a href="{% url 'upload_csv' org.id%}" class="mybtn">Upload Activities</a>
    <!-- Description -->
    <p class="card-text mb-4">{{ org.about|truncatewords:30 }}</p>

    <!-- Locations & Activities side by side -->
    <div class="row">
        <!-- Locations -->
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Locations</span>
                    <a href="{% url 'loc_create' %}?org={{ org.id }}" title="Add location"><i class="bi bi-plus-circle"></i></a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for loc in org.pre_locs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ loc.loc_name }} | {{ loc.county_id.county_name }}
                            <a href="{% url 'loc_edit' loc.id %}" title="edit location"><i class="bi bi-pencil"></i></a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No locations yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Activities -->
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Activities</span>
                    <a href="{% url 'activity_create' %}?org={{ org.id }}" title="add activity"><i class="bi bi-plus-circle"></i></a>
                    
                </div>
                <ul class="list-group list-group-flush">
                    {% for act in org.pre_activities %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ act.title }} | {{ act.date_description }}
                            <a href="{% url 'activity_edit' act.id %}" title="edit activity"><i class="bi bi-pencil"></i></a>
                            <a href="{% url 'activity_delete' act.id %}" title="Delete"><i class="bi bi-trash"></i></a>
                        </li>
                    {% empty %}
                        <li class="list-group-item">No activities yet</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

         <!-- Managers -->
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Managers</span>
                    <a href="{% url 'manager_add_page' %}?org={{ org.id }}" title="add manager">
                    <i class="bi bi-plus-circle"></i></a>
                </div>
                <ul class="list-group list-group-flush">
                    {% for mgr in org.pre_mgrs %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ mgr.profile.user.username }} 
                           
                        </li>
                        
                    {% empty %}
                        <li class="list-group-item">No Managers yet</li>
                    {% endfor %}
                </ul>
            </div>
           
        </div>
    </div>

    <!-- Manage Org button at bottom -->
>
</div>

{% empty %}
<p>You are not managing any organizations yet.</p>
{% endfor %}

<!-- Add New Organization -->
<a href="{% url 'org_create' %}" class="btn btn-primary">ADD Org</a>
{% endblock %}