{% extends "orgs/layout.html" %}
{% load static %}
{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
     
<div class="me-page">
   
<form method="post" id="org-form" data-org-id="{{ org.id }}" class="me-form">
    {% csrf_token %}
   {{form.id}}
    
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <div class = "form-grid {% if view_only %}view-mode{% endif %}">
        <div class ="form-field-full">
            Organization Name:
            {{ form.org_name}}
            {{ form.org_name.errors }}
        </div>
        <div class ="form-field-full">
            {{ form.about.label_tag }}
            {{ form.about}}
            {{ form.about.errors }} 
        </div>
        <div class ="form-field">
            Main URL:
            {{ form.org_url}}
            {{ form.org_url.errors }}
        </div>
        <div class ="form-field">
            {{ form.in_wisconsin.label_tag }}
            {{ form.in_wisconsin}}
            {{ form.in_wisconsin.errors }}
            
        </div>
         <div class ="form-field">
            {{ form.region_name.label_tag }}
            {{ form.region_name}}
            {{ form.region_name.errors }}
        </div>
        
        <div class="form-field">
            URL for Volunteering Opportunities:
            {{ form.volunteer_url }}
            {{ form.volunteer_url.errors }}
        </div>
        <div class="form-field">
           {% if staff %} 
           Master Naturalist Host
            {{ form.host}}
            {{ form.host.errors }} {% endif %}
        </div>
        <div class="form-field">
            URL for Trainings:
            {{ form.training_url }}
            {{ form.training_url.errors }}
        </div>
<!-- submit button INSIDE the form -->
    
        <button type="submit" class="me-btn">
          <span><i class="bi bi-floppy me-btn-icon"></i></span>
            <span class="me-btn-label">Save</span>
        </button>
        <div></div>
        <div class="form-field">
            Default Location:
            {{ form.default_location.errors }}
            <div class="d-none">
                 {{ form.default_location }}
            </div>

            <div class="selected-location-display small border rounded p-2 mb-1">
                {% if form.instance.default_location %}
                    {{ form.instance.default_location.loc_name }}
                {% else %}
                    <span class="text-muted">No default location selected</span>
                {% endif %}
            </div>                
            {% if org.id %}
            <button type="button"
                class="me-btn  open-location-search"
                data-bs-toggle="modal"
                data-bs-target="#locationSearchModal">
            <span><i class="bi bi-search me-btn-icon"></i></span>
            <span class="me-btn-label">Find Default Location</span>
            {% endif %}
        </button>                     
    </div>
    </div>
    
   
</form>
<p>Created :
{% if org.created_by %}
  {{ org.created_by }}
  /{{ org.created_at }}
{% endif %} |Last updated by: 
{% if org.updated_by %}
  {{ org.updated_by }} |
   {{ org.updated_at }}
{% endif %}
</p>
</div>


{% include "orgs/quick_location_modal.html"  with org=org  %}  
{% endblock %}
{% block extrajs%}
  <script src="{% static 'locationpicker.js' %}"></script>
{% endblock %}