{% extends "orgs/layout.html" %}

{% block body %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
     
    
   
<form method="post" class="org-form">
    {% csrf_token %}
   {{form.id}}
    <!-- submit button INSIDE the form -->
    {% if can_edit and not view_only %}
        <button type="submit" class="me-btn">
            {% if org %}Save{% else %}Add{% endif %}
        </button>
    {% endif %}
    <div class = "form-grid {% if view_only %}view-mode{% endif %}">
        <div class ="form-field-full">
            Organization Name:
            {{ form.org_name}}
            {{ form.org_name.errors }}
        </div>
        <div class ="form-field-full">
            {{ form.about.label_tag }}
            {{ form.about}}
            {{ form.about.errors }} 
        </div>
        <div class ="form-field">
            Main URL:
            {{ form.org_url}}
            {{ form.org_url.errors }}
        </div>
        <div class ="form-field">
            {{ form.in_wisconsin.label_tag }}
            {{ form.in_wisconsin}}
            {{ form.in_wisconsin.errors }}
            
        </div>
         <div class ="form-field">
            {{ form.region_name.label_tag }}
            {{ form.region_name}}
            {{ form.region_name.errors }}
        </div>
        
        <div class="form-field">
            URL for Volunteering Opportunities:
            {{ form.volunteer_url }}
            {{ form.volunteer_url.errors }}
        </div>
        <div class="form-field">
            Master Naturalist Host
            {{ form.host}}
            {{ form.host.errors }}
        </div>
        <div class="form-field">
            URL for Trainings:
            {{ form.training_url }}
            {{ form.training_url.errors }}
        </div>
    </div>
       
    <p>Created :
{% if org.created_by %}
  {{ org.created_by }}
  /{{ org.created_at }}
{% endif %}</p>

<p>Last updated by: 
{% if org.updated_by %}
  {{ org.updated_by }} |
   {{ org.updated_at }}
{% endif %}
    

</form>

{% endblock %}