{% extends "orgs/layout.html" %}
{% load static %}
{% load highlight %}
{% load can_edit_filters %}
{% block filter_button %}
    
{% endblock %}


{% block filters %}
{% include "orgs/_org_filters.html" %}
{% endblock %}

{% block body %}
{% with query_params.urlencode as query_string %}

<div class="me-page">
<h1>Nature Based Organizations</h1>
<button class="btn btn-outline-secondary btn-sm"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#filterPanel"
            aria-controls="filterPanel">
        <i class="bi bi-funnel"></i>
        Filter
    </button>
{% for org in organizations %}

<div class="me-card orgcard" id="org-{{org.id}}">
  <div class="me-card-header">
    <div class="me-card-header-left">
      <div class="me-card-title">
        <h4>
        {% if q %}
          {{ org.org_name|highlight:q|safe }}
        {% else %}
          {{ org.org_name }}
        {% endif %}
        
      </h4>
      
      <a href="{{ org.org_url }}" target="_blank" class="text-decoration-none">{{ org.org_url }}</a>
      </div>
      </div>
      <div class="me-card-header-right">
          
          
          <img src="{% static org.region_image %}" alt="{{ org.region_name }}" style="height:75px; width:auto;">
      </div>
    </div>
    <!-- tab buttons -->
    <ul class="me-tabs" id="orgTabs{{ org.id }}" role="tablist" aria-orientation="vertical">
      <li role="presentation">
        <button class="me-tab-button active" 
          id="v-pills-info-tab{{ org.id }}" 
          data-bs-toggle="pill" 
          data-bs-target="#v-pills-info{{ org.id }}" 
          aria-controls="v-pills-info{{ org.id }}"
          aria-selected="true"
          type="button" 
          role="tab">Info</button>
      </li>
      {% if org.pre_volunteer %}
        <li  role="presentation">
          <button class="me-tab-button me-tree-tab" 
            id="v-pills-events-tab{{ org.id }}" 
            data-bs-toggle="pill" 
            data-bs-target="#v-pills-events{{ org.id }}" 
            aria-controls="v-pills-events{{ org.id }}"
            aria-selected="true"
            type="button" 
            role="tab">Volunteer<i class="bi bi-tree-fill"></i></button>
        </li>
      {% endif %}
      {% if org.pre_training  %}
      <li  role="presentation">
        <button class="me-tab-button me-learn-tab" 
        id="v-pills-trainings-tab{{ org.id }}" 
        data-bs-toggle="pill" 
        data-bs-target="#v-pills-trainings{{ org.id }}" 
        aria-controls="v-pills-trainings{{ org.id }}"
        aria-selected="true"
        type="button" 
        role="tab">Trainings<i class="bi bi-mortarboard-fill"></i></button>
      </li>
        {% endif %}
    </ul>
       
    <!-- Tab Content -->
    <div class="me-tab-content tab-content" id="v-pills-tabContent{{ org.id }}">
      
        <!-- Info Tab -->
        <div class="tab-pane fade show active" id="v-pills-info{{ org.id }}" aria-labelledby="v-pills-info-tab{{ org.id }}" role="tabpanel">
          <div class="me-card">
          {% for each in org.pre_volunteer %}
              {{org.pre_volunteer.title}}
            {% endfor %}
          {% if org.about %}
            <div class="me-description-block">
              <div class = "me-desc-short"> {{ org.about|truncatechars:250 }} </div>
               <div class="me-desc-full"> {{ org.about }} </div> 
              </div>
          {% endif %}
             
              {% if org.locations.exists %}
              <div class="me-card-sponsor">
                {% for loc in org.pre_locs %}
                  <a href="{% url 'locations'%}?loc={{loc.id}}&view=list">{{ loc.loc_name }}</a>{% if loc.county_id %} ({{ loc.county_id.county_name }}){% endif %}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </div>
              {% endif %}
           </div>
           <div>
            {% if user.is_authenticated %}
             <a href="{% url 'follow_org' org.id %}?next={{ request.get_full_path }}" class="btn btn-link p-0 btn-sm">
              {% if org.id in followed_orgs %}
                <i class="bi bi-heart-fill text-danger" title="Click to UN-follow">To remove from favorites</i> 
              {% else %}
                <i class="bi bi-heart" title="Click to this to follow this organization">To add to favorites</i> 
              {% endif %}
            </a>
          {% endif %}    </div>        
        </div>

        <!-- Events Tab -->
        <div class="tab-pane fade" id="v-pills-events{{ org.id }}" aria-labelledby="v-pills-events-tab{{ org.id }}" role="tabpanel">
          {% for each in org.pre_volunteer %}
              {% include "orgs/_activity_item.html" with e=each q=q source='org'%}
          {% endfor %}
        </div>
            

        <!-- Trainings Tab -->
        <div class="tab-pane fade" id="v-pills-trainings{{ org.id }}" aria-labelledby="v-pills-trainings-tab{{ org.id }}" role="tabpanel">          
          {% for each in org.pre_training %}           
               {% include "orgs/_activity_item.html" with e=each q=q source='org'%}
          {% endfor %}
        </div>
  </div> <!-- tabcontent-->
</div> <!--cardbody-->
<!-- orgcard-->
{% endfor %}

<!-- Pagination -->
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if organizations.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ organizations.previous_page_number }}&{{ query_params.urlencode }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for num in organizations.paginator.page_range %}
        <li class="page-item {% if organizations.number == num %}active{% endif %}">
          <a class="page-link" href="?page={{ num }}&{{ query_string }}">{{ num }}</a>
        </li>
      {% endfor %}
      {% if organizations.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ organizations.next_page_number }}&{{ query_params.urlencode }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

</div> <!-- mycontainer-->
{% endwith %}
{% endblock %}