<div class="modal fade" id="quickAddLocationModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="quick-location-form" method="post" action="/locations/loc_modal/">
        {% csrf_token %}
        <input type="hidden" name="org_id" value="{{ org.id }}">

        <div class="modal-header">
          <h5 class="modal-title">Add location</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Location name</label>
            <input type="text" name="loc_name" class="form-control" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="me-btn" data-bs-dismiss="modal">
            <span><i class="bi bi-x-square me-btn-icon"></i></span>
            <span class="me-btn-label">Cancel</span></button>
          <button type="submit" class="me-btn">
            <span><i class="bi bi-floppy me-btn-icon"></i></span>
            <span class="me-btn-label">Save</span></button>
        </div>
      </form>
    </div>
  </div>
</div>