{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}
<div class="me-page">
<h1>Tutorials</h1>


<a href="https://www.youtube.com/watch?v=pq8BfNp5UfQ"
   class="me-btn"
   target="_blank"
   rel="noopener">

 <span>
             <i class="bi bi-mortarboard-fill me-btn-icon me-btn-learn-icon"></i>
    </span>
    <span class="me-btn-label">
         Welcome to WildPathsWI.org
    </span></a>

<p>Estimated time: 2 minutes</p>

<h2>Organizations</h2>

<a href="https://www.youtube.com/watch?v=n0kuCnXNmdg"
   class="me-btn"
   target="_blank"
   rel="noopener">
   
 <span>
             <i class="bi bi-mortarboard-fill me-btn-icon me-btn-learn-icon"></i>
    </span>
    <span class="me-btn-label">
         Add Your Organization
    </span>
</a>

<p>Estimated time: 1 minute</p>

<ul>Topics:
<li>learn how to add an organization</li>
</ul>

<hr>
<a href="https://www.youtube.com/watch?v=eB-DIwj7Pv4"
   class="me-btn"
   target="_blank"
   rel="noopener">
  
 <span>
             <i class="bi bi-mortarboard-fill me-btn-icon me-btn-learn-icon"></i>
    </span>
    <span class="me-btn-label">
        Manage Your Organization
    </span>
</a>
<p>Estimated time: 3 minutes</p>
<ul>Topics:
 <li> the organization management pages</li>
<li> adding locations (addresses)</li>
<li> adding activities</li>
</ul>
</div>

{% endblock %}