{% extends "orgs/layout.html" %}
{% block body %}
<h2>Review data as loaded</h2>
{% for item in result %}
    <div>
        <h3>Row {{ item.row }}</h3>

        {% if item.is_valid %}
            <p style="color:green;">Valid</p>
        {% else %}
            <p style="color:red;">Errors</p>
        {% endif %}

        <ul>
            <li>Title: {{ item.data.title }}</li>
            <li>City: {{ item.data.city }}</li>
            <li>State: {{ item.data.state }}</li>
            <li>ZIP: {{ item.data.zip }}</li>
            <li>Session Type: {{ item.data.session_type }}</li>
        </ul>

        {% if item.errors %}
            <ul style="color:red;">
                {% for err in item.errors %}
                    <li>{{ err }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <hr>
{% endfor %}
{% endblock %}