{%extends "orgs/layout.html"%}

{% block body %}
<h2>Map Columns</h2>
<form method="post">
    {% csrf_token %}
    <table>
            {% for col, options in dropdown_options.items %}
            <tr> <td>{{ col }}</td>
            <td>
                <select name="mapping_{{ col }}">
                    {% for field in options.choices %}
                        <option value="{{ field }}" {% if field == options.preselected %}selected{% endif %}>{{ field }}</option>
                    {% endfor %}
                </select>
            </td>
            </tr>
{% endfor %}
            
    </table>
    <button type="submit" class="me-btn">Save Mapping</button>
</form>
{% endblock %}