{% extends "orgs/layout.html" %}
{% block body %}
{% load static %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}    
    </ul>
{% endif %} 
<h2>Upload Data</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div >
        
        <label for="file">Choose CSV or Excel file:</label><br>
        {{ form.file }}
    </div>

    <br>
    
    <button type="submit" class="me-btn">
        <span><i class="bi bi-upload me-btn-icon"></i></span>
        <span class="me-btn-label">Upload</span></button>
</form>
<hr>
<a href="{% static 'load_template.csv' %}"
   class="btn me-btn">
   <span><i class="bi bi-download me-btn-icon"></i></span>
   <span class="me-btn-label">Template</span>
</a>
<a href="{% url 'upload_faq' %}"
        class="btn me-btn">
        <span><i class="bi bi-info me-btn-icon"></i></span>
        <span class="me-btn-label">FAQ -About using the upload process</span></a>
{% endblock %}