{% load static %}
{% load highlight %}

 <div class="card shadow-sm mb-3 border-0">
      <!-- Date row -->
      <div class="mt-2 small text-muted">
            <strong>Starts:</strong> {{ e.start }}
            {% if e.end %}
                | <strong>Ends:</strong> {{ e.end }}
            {% endif %}
            {% if e.date_description %}
                | <em>{{ e.date_description }}</em>
            {% endif %}
      </div>
      <!-- Title row -->
      <div class="d-flex justify-content-between align-items-start">
        <h5 class="card-title mb-1">
          <span><strong>{% if e.activity_type == "t"%}<i class="bi bi-mortarboard"></i>
            {%else%} <i class="bi bi-tree"></i>{% endif %}</strong></span>
          
          {% if q %}{{ e.title|highlight:q|safe  }}{% else %}{{ e.title }}{% endif %}
          <a href="{% url 'activity_edit' e.id%}"><i class="bi bi-pencil-fill"></i></a>
        </h5>
        <div class="d-flex align-items-baseline gap-2">
              {% if e.session_format != "i" %}
                <i class = "bi bi-globe fs-5 text-info" title="Online Event"></i>
              {% endif %}
              <img src="{% static e.org.region_image %}" alt="Region" style="height:30px; width:auto;">
        </div>
      </div>
      <div class="text-muted small">
                    {{ e.org.org_name }}
                    {% if e.location %}
                          · {{ e.location.loc_name }} | {{e.location.county_id.county_name}}
                      {% endif %}
      </div>
      <div class="description-block">
        <div class = "desc-short">
          {{ e.description|truncatechars:200 }}
        </div>
        <div class="desc-full d-none">
           {{ e.description|highlight:q|safe }}
        </div>
        {% if not q %}
          <div class="desc-toggle">
            <span class="toggle-desc small text-muted ms-1">
                          ▼</span>
          </div>
        {% endif %}
        </div>
      </div>
      <div>
          <p>{% for cat in e.categories.all %}
                    <span class="badge bg-secondary me-1">{{cat.name}}</span>
                {% endfor %}
                </p>
    </div> 